@tailwind base;
@tailwind components;
@tailwind utilities;

.rusty-font {
  font-family: "Roboto Slab", serif;
}

.rusty-font-title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
